@import './index.scss';

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-light);
    height: 100vh;
    padding: 30px;
    user-select: none;

    @media (max-width: 450px) {
        padding: 0;
    }
}

.container-home {
    max-width: 1800px;
    width: 100%;
    padding: 50px;
    display: flex;
    background: var(--white);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px var(--gray);

    @media (max-width: 450px) {
        flex-direction: column;
        padding: 10px;
    }
}

.front-page-icons {
    max-width: 800px;
    width: 50%;

    @media (max-width: 450px) {
        width: 90%;
    }

    // border: 1px solid var(--silver);

    animation: myAnim 6s ease-in-out 2s 1 normal forwards;

    @keyframes myAnim {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.03);
        }

        100% {
            transform: scale(1);
        }
    }
}

.front-page-info {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 50%;
    margin-left: 50px;
    // border: 1px solid var(--silver);

    @media (max-width: 450px) {
        width: 90%;
        margin-left: 0;
        text-align: center;
    }
}

.front-page-title {
    font-size: 2.5vw;
    color: rgb(242, 0, 0);
    font-family: var(--typeface-inter);
    margin-bottom: 30px;

    @media (max-width: 450px) {
        font-size: (2.5vw)*2;
    }

    @media (min-width: 3050px) {
        font-size: (2.5vw)*0.5;
    }
}

.front-page-text {
    color: var(--gray);
    font-size: 1.5vw;
    margin-bottom: 20px;

    @media (max-width: 450px) {
        font-size: (1.5vw)*2;
    }

    @media (min-width: 3050px) {
        font-size: (1.5vw)*0.5;
    }
}

.front-page-title-2 {
    color: var(--gray);
    font-size: 1.8vw;
    margin-bottom: 10px;

    @media (max-width: 450px) {
        font-size: (1.8vw)*2;
    }

    @media (min-width: 3050px) {
        font-size: (1.8vw)*0.5;
    }
}

.front-page-buttons {
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;

    @media (max-width: 450px) {
        font-size: (1.2vw)*2;
    }

    @media (min-width: 3050px) {
        font-size: (1.2vw)*0.5;
    }

    .front-page-button {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        border-radius: 10px;
        border: 3px solid #44b4ff;
        color: #44b4ff;
        background: var(--white);
        text-decoration: none;
        text-align: center;
        margin-bottom: 10px;

        &:hover {
            background: #44b4ff;
            color: var(--white);
            border: 3px solid var(#44b4ff);
            cursor: pointer;
        }

        @media (max-width: 450px) {
            font-size: (1.2vw)*2;
            margin-bottom: 10px;
            border: 1px solid #44b4ff;
        }
    }
}