@import './index.scss';

.main-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.left-side-container {
    width: 300px;
    height: 400px;
}

.left-side-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 300px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--gray);
}

.flame-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.left-side-header>button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 0 0 3px var(--main);
    margin: 5px;
}

.left-side-menu {
    position: fixed;
    top: 100px;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 98%;
    height: 80px;
    padding: 3px;
    cursor: pointer;

    &:hover {
        border: 3px solid rgb(195, 0, 0);
        border-radius: 20px;
        font-weight: bold;
    }
}

.menu-item>img {
    width: 70px;
    margin-right: 20px;
}

.menu-item>p {
    font-size: 1.2rem;
    color: var(--main);
    font-family: var(--typeface-inter);
}

.right-side {
    width: 300px;
    height: 100px;
}

.central {
    width: 600px;
    height: 100%;
    border-radius: 20px;
}

.header-basics {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: linear-gradient(0deg, rgba(255, 174, 0, 1) 25%, rgba(255, 226, 164, 1) 100%);
    font-family: var(--typeface-inter);
    border-radius: 20px 20px 0px 0px;
    text-shadow: 0 0 1px var(--main);
    border: 2px solid var(--gray);
}

.container-lessons {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid var(--gray);
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px;
}

.container-lesson {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 40px 20px 40px;
    gap: 15px;
    width: 120px;
    height: 120px;
    border: 1px solid var(--main);
    border-radius: 20px;
    cursor: pointer;

    // .one {}
}

.lock {
    width: 50px;
}

.progress-bar {
    width: 75%;
    height: 15px;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.lesson-title {
    margin-top: -20px;
    color: var(--gray);
    font-weight: bold;
}

.header-advanced {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: linear-gradient(0deg, rgb(19, 167, 0) 25%, rgb(164, 255, 182) 100%);
    font-family: var(--typeface-inter);
    border-radius: 20px 20px 0px 0px;
    text-shadow: 0 0 1px var(--main);
    border: 2px solid var(--gray);
}

.header-pro {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: linear-gradient(0deg, rgb(167, 0, 0) 25%, rgb(255, 164, 164) 100%);
    font-family: var(--typeface-inter);
    border-radius: 20px 20px 0px 0px;
    text-shadow: 0 0 1px var(--main);
    border: 2px solid var(--gray);
}

@media (max-width:820px) {
    .main-container {
        flex-direction: column;
        width: 100%;
        // margin-top: 50px;
    }

    .left-side {
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: flex-end;
    }

    .left-side>button {
        border: none;
        border-radius: 20px;
        padding: 10px;
        background-color: var(--white);
        box-shadow: 0 0 3px var(--main);
        margin: 10px;
    }

    .left-side-container {
        display: none;
    }

}
